.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    width: 100%;
}
.fixation {
    font-size: xxx-large;
}

#display_stage_background {
    width: 100vw;
    background-color: white;
    z-index: -1;
}

#display_stage {
    position: fixed;
    left: 1vw;
    top: 1vh;
    height: 98vh;
    width: 98vw;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px #999;
    border-radius: 15px;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.jspsych-btn {
    color: white;
    background-color: black;
}

.block-end-img {
    max-width: 50vw;
    max-height: 70vh;
}

div:has(>.samebtn) {
    margin-left: -100px !important;
    margin-right: -100px !important;
    margin-bottom: 120px !important;
    position: relative;
    top: 80px;
}
.samebtn {
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 12px;
    font-size: 24px;
    padding: 15px;
}
.samebtn:hover {
    background-color: white;
    color: black;
}
.instructions-container {
    text-align: left;
    max-width: 50vw;
    font-size: 20px;
}
.topprompt {
    display: inline-block;
    position: relative;
    top: -650px;
    font-size: 20px;
}