.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    width: 100%;
}
.fixation {
    font-size: xxx-large;
}

#display_stage_background {
    width: 100vw;
    background-color: white;
    z-index: -1;
}

#display_stage {
    position: fixed;
    left: 1vw;
    top: 1vh;
    height: 98vh;
    width: 98vw;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px #999;
    border-radius: 15px;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.jspsych-btn {
    color: white;
    background-color: black;
}

.block-end-img {
    width: 50vw;
}